.side-bar
  .side-bar__top
    .side-bar__top__box
      %p.side-bar__top__box__name
        name
      %ul.side-bar__top__box__icons
        %li.side-bar__top__box__new-group
          = link_to "#" do
            = icon('fas', 'edit')
        %li.side-bar__top__box__edit
          = link_to "#" do
            = icon('fas', 'cog')


  .side-bar__groups
    .side-bar__groups__group
      %p.side-bar__groups__group__group-name
        group-name
      %p.side-bar__groups__group__latest-message
        まだメッセージがありません
